.add-row-button {
  background-image: url('/images/addRow.png');
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
}

.update-to-grid-button {
  background-image: url('/images/update.png');
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
}

.work {
  background-image: url('/images/work.png');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
}
